<%
  # required locals:
  #   count:  count for added filters
  #   param_list: available parameters for selected messagetype
%>

<table class='defaultTable'>
  <tr>
    <td><b>Filter: </b></td>
    <td id="filter_<%=count%>"><%= render :partial => 'filter', :locals => {:param_list => param_list, :count => count} %></td>
    <td><b>Value: </b></td>
    <td><%= text_field_tag "filter_value_#{count}" %>
  </tr>
</table>

