<p class="infotext">added on: <TMPL_VAR NAME="added"></p>

<div id="box">
<p id="noti_type_desc" class="infotext"><TMPL_VAR NAME="NotiTypeDesc"></p>

<TMPL_IF NAME="isAdmin">
<script type="text/javascript">
    new Ajax.InPlaceEditor( 'noti_type_desc', 'index.cgi', { cols: 60, rows: 4,
                 callback: function(form, value) { 
	         return 'rm=ajaxupdate&id=<TMPL_VAR NAME="NotiTypeId">&value='+escape(value) } 
             } )
</script>
</TMPL_IF>
</div>

<h3>Parameters with example data:</h3>
<p class="infotext">Human readable name and description of each parameter is
  editable. Make sure to edit if there is information missing. Just click on
the text to edit.</p>
<div id="box">
<table>
<tr><td><b>Name</b></td><td><b>Human Name</b></td><td><b>Value</b></td>
<td><b>Description</b></td></tr>
<TMPL_LOOP NAME="parameters">
<tr>
<td><TMPL_VAR NAME="name"></td>
<td><span id="<TMPL_VAR NAME="nameSpanId">"><TMPL_VAR NAME="hrName"></span>
  <TMPL_IF NAME="isAdmin">
    <script type="text/javascript">
      <TMPL_VAR NAME="nameEditJs">
     </script>
  </TMPL_IF>
</td>

<td><TMPL_VAR NAME="value"></td>

<td><span id="<TMPL_VAR NAME="descSpanId">"><TMPL_VAR NAME="desc"></span>
  <TMPL_IF NAME="isAdmin">
    <script type="text/javascript">
      <TMPL_VAR NAME="descEditJs">
    </script>
  </TMPL_IF>
</td>
</tr>
</TMPL_LOOP>
</table>
</div>
<h3>Test rendering with current template:</h3>
<p class="infotext">The following box shows an example of how a rendered
  message looks like with example data. If you have administration rights,
you can edit the template in the editbox below.</p>

<div id="box">
<pre><TMPL_VAR NAME="testrender"></pre>
</div>

<TMPL_IF status>
<p id="status">Status: <TMPL_VAR NAME="status"></p>
</TMPL_IF>

<p>Rendered from file <tt><TMPL_VAR NAME="templateFile"></tt></p>

<TMPL_IF NAME="isAdmin">
<form action="index.cgi?rm=type&type=<TMPL_VAR NAME="type">" method="post">
  <input type="hidden" name="rm" value="type">
  <input type="hidden" name="type" value="<TMPL_VAR NAME="type">">
  <p>Edit the template:<br>
    <textarea name="tmplEdit" cols="75" rows="10"><TMPL_VAR NAME="template"></textarea><br/>
  <input type="submit" name="dopreview" value=" Preview ">
  <input type="submit" name="dosave" value=" Save ">
  </p>
</form>
</TMPL_IF>

