<h2>Template <TMPL_VAR NAME="type"></h2>

<p id="noti_type_desc" class="infotext"><TMPL_VAR NAME="NotiTypeDesc"></p>

<TMPL_IF NAME="isAdmin">
<script type="text/javascript">
    new Ajax.InPlaceEditor( 'noti_type_desc', 'index.cgi', { cols: 60, rows: 4,
                 callback: function(form, value) { 
	         return 'rm=ajaxupdate&id=<TMPL_VAR NAME="NotiTypeId">&value='+escape(value) } 
             } )
</script>
</TMPL_IF>

<div id="box">
<p>added on: <TMPL_VAR NAME="added"></p>
<p>Default delay: <TMPL_VAR NAME="delay"></p>

<h3>Parameters with example data:</h3>
<table>
<TMPL_LOOP NAME="parameters">
<tr>
<td><TMPL_VAR NAME="name"><td><TMPL_VAR NAME="value"></td>
</tr>
</TMPL_LOOP>
</table>
</div>
<h3>Test rendering with current template:</h3>
<div id="box">
<pre><TMPL_VAR NAME="testrender"></pre>
</div>

<TMPL_IF status>
<p id="status">Status: <TMPL_VAR NAME="status"></p>
</TMPL_IF>

<p>Rendered from file <tt><TMPL_VAR NAME="templateFile"></tt></p>

<TMPL_IF NAME="admin">
<form action="index.cgi?rm=type&type=<TMPL_VAR NAME="type">" method="post">
  <input type="hidden" name="rm" value="type">
  <input type="hidden" name="type" value="<TMPL_VAR NAME="type">">
  <p>Edit the template:<br>
    <textarea name="tmplEdit" cols="75" rows="10"><TMPL_VAR NAME="template"></textarea><br/>
  <input type="submit" name="dopreview" value=" Preview ">
  <input type="submit" name="dosave" value=" Save ">
  </p>
</form>
</TMPL_IF>

