<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Hermes Admin Tool - branch</title>
<link rel="stylesheet" type="text/css" href="hermes.css">
<script language="JavaScript" type="text/javascript" src="javascript/prototype.js" ></script>
<script language="JavaScript" type="text/javascript" src="javascript/effects.js" ></script>
<script language="JavaScript" type="text/javascript" src="javascript/controls.js" ></script>
</head>

<body>
<form>
<div id="navcontainer">
<ul>
  <li><a href="index.cgi">Overview</a></li>
  <li><a href="index.cgi?rm=doc">Documentation</a></li>
  <li><a href="index.cgi?rm=subscriptions">User Subscriptions</a></li>
  <li>
  <select onChange="location.href=this.options[this.selectedIndex].value">
   <TMPL_VAR NAME="NotiTypeLinks">
  </select>
  </li>
  <li>&nbsp; &nbsp; &nbsp;</lI>
</ul>
</div>
</form>

<div id="Inhalt">
  <h1><TMPL_VAR NAME=Header></h1>
  <TMPL_VAR NAME=Content>

</div>
<div id="Footer">
<p>Hello <TMPL_VAR NAME="user"> <TMPL_IF NAME="isAdmin"> (Administrator)</TMPL_IF></p>
</div>


</body>
</html>
