<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Hermes Admin Tool</title>
<link rel="stylesheet" type="text/css" href="hermes.css">
<script language="JavaScript" type="text/javascript" src="javascript/prototype.js" ></script>
<script language="JavaScript" type="text/javascript" src="javascript/effects.js" ></script>
<script language="JavaScript" type="text/javascript" src="javascript/controls.js" ></script>
</head>

<body>

<ul id="Navigation">
  <li><a href="index.cgi">Overview</a></li>
  <li><a href="index.cgi?rm=doc">Documentation</a></li>
  <li><a href="index.cgi?rm=type">Notification Types</a></li>
  <li>
    <p><TMPL_VAR NAME="ExtraContent"></p>
  </li>
</ul>


<div id="Inhalt">
  <p id="top">Hello <TMPL_VAR NAME="user">
  <TMPL_IF NAME="isAdmin"> (Administrator)</TMPL_IF>
  </p>
  <h1><TMPL_VAR NAME=Header></h1>
  <TMPL_VAR NAME=Content>
</div>

</body>
</html>
