
<h2>Current Raw Notifications:</h2>
<div id="box">
<TMPL_IF NAME=CntRawNotifications>
<table>
<tr><th>Id</th><th>Message Type</th><th>Received</th></tr>
<TMPL_LOOP NAME="RawNotifications">
<tr>
<td><TMPL_VAR NAME=id></td>
<td><TMPL_VAR NAME=type></td>
<td><TMPL_VAR NAME=received></td>
</tr>
</TMPL_LOOP>
</table>
<TMPL_ELSE>
none.
</TMPL_IF>
<p>Amount of raw notifications added in the last hour: <TMPL_VAR NAME=RawNotiLastHour></p>
</div>

<h2>The latest Messages added:</h2>
<div id="box">
<table>
<tr><th>Id</th><th>Msg Type</th><th>created at</th></tr>
<TMPL_LOOP NAME="LatestMessages">
  <tr><td><TMPL_VAR NAME=id></td>
      <td><a href="index.cgi?rm=type&type=<TMPL_VAR NAME=msgtype>"><TMPL_VAR NAME=msgtype></a></td>
      <td><TMPL_VAR NAME=created></td>
</tr>
</TMPL_LOOP>
</table>

<p>
Overall message count in the database: <TMPL_VAR NAME=countMessages>
</p>
</div>
