<TMPL_IF NAME="query_users_allowed">
<form action="index.cgi" method="get">
  <input type="hidden" name="rm" value="subscriptions">
  <p>Enter a username:&nbsp;<input name="person" type="text" size="30" maxlength="30">
  <input type="submit" value=" Send ">
  </p>
</form>
<br/>
</TMPL_IF>

<TMPL_LOOP NAME="user">
  <h2>User: <TMPL_VAR NAME="name"></h2>
  <table width="100%">
  <tr><th>Id</th><th>Notification Type</th><th>Delivery Type</th><th>Delay</th></tr>
  <TMPL_LOOP NAME="subs">
  <tr>
  <td><TMPL_VAR NAME="id"></td>
  <td><TMPL_VAR NAME="msgtype"><br/><TMPL_VAR NAME="description"></td>
  <td><TMPL_VAR NAME="delivery"></td>
  <td><TMPL_VAR NAME="delay"></td>
  </tr>
  </TMPL_LOOP>
</table>
</TMPL_LOOP>
