@subject: <TMPL_VAR NAME="issue"> (<TMPL_VAR NAME="rating">): <TMPL_VAR NAME="title">
______________________________________________________________________________
Announcement ID:    <TMPL_VAR NAME="issue">
Rating:             <TMPL_VAR NAME="rating">
References:         <TMPL_VAR NAME="bugs">
Cross-References:   <TMPL_VAR NAME="cve">
Affected Products:

<TMPL_VAR NAME="product_list">
______________________________________________________________________________

Description:

 <TMPL_VAR NAME="descr">

Patch Instructions: 
<TMPL_VAR NAME="patch_instructions">

Package List: 
<TMPL_VAR NAME="package_list">

References:
<TMPL_VAR NAME="references">

