@subject: OBS <TMPL_VAR NAME="project">/<TMPL_VAR NAME="package"> r<TMPL_VAR NAME="rev"> commited
Committer: <TMPL_VAR NAME="user">
New Revision: <TMPL_VAR NAME="rev">

Log:
<TMPL_VAR NAME="comment">

<TMPL_VAR NAME="files">

<TMPL_VAR NAME="diff">

To compare against the previous version:
   osc rdiff <TMPL_VAR NAME="project"> <TMPL_VAR NAME="package">

Check out the package for editing:
   osc checkout <TMPL_VAR NAME="project"> <TMPL_VAR NAME="package">

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)
