@subject: [obs update] Package <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project"> updated
The package <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project"> was updated.

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)