@subject: [obs new] New Package <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project">
A new package named <TMPL_VAR NAME="package"> was created in <TMPL_VAR NAME="project">

https://build.opensuse.org/package/show?package=<TMPL_VAR NAME="package">&project=<TMPL_VAR NAME="project">
