@subject: Package Branched: <TMPL_VAR NAME="project"> <TMPL_VAR NAME="package"> => <TMPL_VAR NAME="targetproject"> <TMPL_VAR NAME="targetpackage">
Package was branched:
<TMPL_VAR NAME="project"> <TMPL_VAR NAME="package"> was branched to <TMPL_VAR NAME="targetproject"> <TMPL_VAR NAME="targetpackage"> by user <TMPL_VAR NAME="user">
