@subject: OBS <TMPL_VAR NAME="project">/<TMPL_VAR NAME="package"> r<TMPL_VAR NAME="rev"> commited
Committer: <TMPL_VAR NAME="user">
New Revision: <TMPL_VAR NAME="rev">

<TMPL_VAR NAME="files">
Log:
<TMPL_VAR NAME="comment">
