@subject: Build Success: <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project"> 

Package <TMPL_VAR NAME="package"> (release <TMPL_VAR NAME="release">) of 
project <TMPL_VAR NAME="project"> built successfully for <TMPL_VAR NAME="arch">.


