@subject: New comment for package - <TMPL_VAR NAME="package_name">

Comment: <TMPL_VAR NAME="comment">
By: <TMPL_VAR NAME="commenter">
Link: https://build.opensuse.org/package/show/<TMPL_VAR NAME="project_name">/<TMPL_VAR NAME="package_name">


-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)
