@subject: [obs del] Project <TMPL_VAR NAME="project"> deleted
Project <TMPL_VAR NAME="project"> was deleted.

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)
