@subject: File Upload for Package <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project">
The file: <TMPL_VAR NAME="filename">
was uploaded into package <TMPL_VAR NAME="package"> in project <TMPL_VAR NAME="project"> by user <TMPL_VAR NAME="user">

Comment: <TMPL_VAR NAME="comment">

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)

