@subject: [obs update] Project <TMPL_VAR NAME="project"> updated
Project data of project <TMPL_VAR NAME="project"> was updated.

https://build.opensuse.org/project/show?project=<TMPL_VAR NAME="project">

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)