@subject: [review of <TMPL_VAR NAME="type">-request <TMPL_VAR NAME="id">] requested
<TMPL_IF NAME="sourceproject">
   <TMPL_VAR NAME="sourceproject">/<TMPL_VAR NAME="sourcepackage"> -> <TMPL_VAR NAME="targetproject">/<TMPL_VAR NAME="targetpackage">
</TMPL_IF>

   https://build.opensuse.org/request/show/<TMPL_VAR NAME="id">
<TMPL_IF NAME="description">
   Description: <TMPL_VAR NAME="description"></TMPL_IF>

To REVIEW the request in question against the previous version:
   osc request show --diff <TMPL_VAR NAME="id">

To ACCEPT the review:
   osc review accept <TMPL_VAR NAME="id">
   
To DECLINE the review:
   osc review decline <TMPL_VAR NAME="id"> --message="declined for reason xyz (see ... for background / policy / ...)."

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)
Collaboration: http://en.opensuse.org/Build_Service/Collaboration

