@subject: <TMPL_VAR NAME="type">-Request <TMPL_VAR NAME="id"> Changed

<TMPL_VAR NAME="type">-Request was changed, new state: <TMPL_VAR NAME="state">
<TMPL_IF NAME="sourceproject">
Source 
  project:  <TMPL_VAR NAME="sourceproject">
  package:  <TMPL_VAR NAME="sourcepackage">
<TMPL_IF NAME="sourcerevision">  revision: <TMPL_VAR NAME="sourcerevision"></TMPL_IF>

Target:
  project: <TMPL_VAR NAME="targetproject">
  package: <TMPL_VAR NAME="targetpackage">
</TMPL_IF>
