@subject: New comment for Request - <TMPL_VAR NAME="request_id">

Comment: <TMPL_VAR NAME="comment">
By: <TMPL_VAR NAME="commenter">
Link: https://build.opensuse.org/request/show/<TMPL_VAR NAME="request_id">

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)
