@subject: [obs <TMPL_VAR NAME="type">-request <TMPL_VAR NAME="id">] <TMPL_VAR NAME="targetproject">/<TMPL_VAR NAME="targetpackage">: <TMPL_VAR NAME="state"> by <TMPL_VAR NAME="who">
State of <TMPL_VAR NAME="type">-request #<TMPL_VAR NAME="id"> was changed by <TMPL_VAR NAME="who">:

  <TMPL_VAR NAME="oldstate"> -> <TMPL_VAR NAME="state">

Comment:
  <TMPL_VAR NAME="comment">

https://build.opensuse.org/request/diff/<TMPL_VAR NAME="id">

<TMPL_IF NAME="sourceproject">Source 
  project:  <TMPL_VAR NAME="sourceproject">
  package:  <TMPL_VAR NAME="sourcepackage">
<TMPL_IF NAME="sourcerevision">  revision: <TMPL_VAR NAME="sourcerevision"></TMPL_IF>

Target:
  project: <TMPL_VAR NAME="targetproject">
  package: <TMPL_VAR NAME="targetpackage">
</TMPL_IF>

-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)
