@subject: [obs update] Project Config of <TMPL_VAR NAME="project"> updated
The project config of project <TMPL_VAR NAME="project"> was updated.

https://build.opensuse.org/project/show?project=<TMPL_VAR NAME="project">