@subject: Build failure of <TMPL_VAR NAME="project">/<TMPL_VAR NAME="package"> for <TMPL_VAR NAME="repository">/<TMPL_VAR NAME="arch">

Package <TMPL_VAR NAME="package"> (release <TMPL_VAR NAME="release">) of project <TMPL_VAR NAME="project"> failed to build
for <TMPL_VAR NAME="arch"> in repository <TMPL_VAR NAME="repository">.

Review the build log:
   osc remotebuildlog <TMPL_VAR NAME="project"> <TMPL_VAR NAME="package"> <TMPL_VAR NAME="repository"> <TMPL_VAR NAME="arch"> | less

Check out the package for editing:
   osc checkout <TMPL_VAR NAME="project"> <TMPL_VAR NAME="package">

Confused?  Contact the community:
   https://build.opensuse.org/
