@subject: <TMPL_VAR NAME="type">-request #<TMPL_VAR NAME="id"> state changed: <TMPL_VAR NAME="oldstate"> -> <TMPL_VAR NAME="state">

State of <TMPL_VAR NAME="type">-request #<TMPL_VAR NAME="id"> was changed by <TMPL_VAR NAME="who">:

  <TMPL_VAR NAME="oldstate"> -> <TMPL_VAR NAME="state">

Comment:

  <TMPL_VAR NAME="comment">


<TMPL_IF NAME="sourceproject">
The source project is <TMPL_VAR NAME="sourceproject">.
The source package is <TMPL_VAR NAME="sourcepackage"> in rev. <TMPL_VAR NAME="sourcerevision">.

The target project is <TMPL_VAR NAME="targetproject">.
The target package is <TMPL_VAR NAME="targetpackage">.
</TMPL_IF>

