@subject: [obs update] Package <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project"> updated to <TMPL_VAR NAME="newversion">
User <TMPL_VAR NAME="user"> updated package <TMPL_VAR NAME="package"> in <TMPL_VAR NAME="project"><TMPL_IF NAME="oldversion"> from <TMPL_VAR NAME="oldversion"></TMPL_IF> to <TMPL_VAR NAME="newversion">.

Comment: <TMPL_VAR NAME="comment">

<TMPL_VAR NAME="files">
-- 
Hermes messaging (http://hermes.opensuse.org)
openSUSE Build Service (https://build.opensuse.org/)