<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Hermes Messaging</title>
<link rel="stylesheet" type="text/css" href="hermes.css">
</head>

<body>

<ul id="Navigation">
  <li><a href="index.cgi">Hermes</a></li>
  <li><a href="index.cgi?rm=doc">Documentation</a></li>
</ul>

<div id="Inhalt">
  <h1><TMPL_VAR NAME=Header></h1>
  <TMPL_VAR NAME=Content>
</div>

</body>
</html>
