
/* 
**
**  $Id: $
**
**  Funktion:  Provides styles only needed on the openSUSE.org wiki
**  Author:    Frank Sundermeyer <fs@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

/*****************
* General Styles *
*****************/

.navlist,
#rightnav ul {
    list-style-image: url(../common/images/liDot_double_green.png);
}
.skipLinks {
    display: none;
}
#searchbox .topleft {
    background: #fff url(images/green_searchbox/top_left_corner.png) top left no-repeat;
}
#searchbox .topright {
    background: url(images/green_searchbox/top_right_corner.png) top right no-repeat;
}
#searchbox .bottomleft {
    background: url(images/green_searchbox/bottom_left_corner.png) bottom left no-repeat;
}
#searchbox .bottomright {
    background: url(images/green_searchbox/bottom_right_corner.png) bottom right no-repeat;
}
h1, h2, h3, h4, h5, h6 {
    color: #669900;
}

/*************************************************
* Overwrite YAML styles                          *
*   all non color/image changes should go to the *
*   common css directory                         *
*************************************************/

blockquote {
    border-left: 4px solid #D9E5BF;
    border-right: 4px solid #D9E5BF;
    border-top: 1px solid #D9E5BF;
    border-bottom: 1px solid #D9E5BF;
}
cite {
    border-left: 4px solid #D9E5BF;
}
code {
    background-color: #D9E5BF;
}
hr {
    border-bottom: 1px #ccc solid; 
}
input, textarea {
    border: 1px solid #669900;
}
input[type=text]:focus, textarea:focus {
        border-color: #669900;
}
input[type=submit] {
    background-color: #D9E5BF;
    color: #000;
}
pre {
    border: 2px dashed #B2CC7F;
    background:#F0F0F4 none repeat scroll 0%;
    color:#000;
    display:block;
    margin:0pt 0pt 1em 1em;
    padding:0.5em;
}
ul {
    list-style-image: url(../common/images/liDot_wiki.png);
}

#bodyContent {
    padding: .5em 1.5em;
	font-size: 1em;
}

/*----------------------
*  The Personal Toolbar 
*----------------------*/

#pt-personal {
    color: #D9E5BF;
}
#pt-personal a {
    color: #D9E5BF;
}

/*-------------------
* Starship layout
*-------------------*/
#new_subscr {
    background: #ddd;
}
input, 
select,
textarea {
    border: 1px solid #999;
	
}

/*****************
* Notifications *
*****************/

#notification_box {
  display: table;
  position: relative;
  margin: 1em 0;
  font-size: 110%;
  width: 100%;
}

#notification_box * {
}

#notification_box #left_col, #notification_box #right_col {
  margin: 0.3em;
}

#notification_box #left_col {
  width: 5em;
  max-width: 100px;
  position: absolute;
  text-align: center;
}

#notification_box #left_col #notification_icon {
  width: 34px;
  height: 34px;
  margin: 0 auto;
}

#notification_box #left_col #notification_icon span {
  display: none;
}

#notification_box #right_col {
  margin-left: 5em; 
}

#notification_box #right_col p {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#notification_box #right_col h1 {
  font-size: 1.5em;
}

#notification_box #right_col #notification_h1 {
}

#notification_box.error {
  border: 1px solid #8C0000;
  background-color: #FF4D4D;
}

#notification_box.error * {
  color: #f9f9f9;
}

#notification_box.error #notification_icon {
  background: transparent url('/css/local/images/flash_error_34.png') no-repeat scroll top left;
}

#notification_box.notice {
  border: 1px solid #FCB21C;
  background-color: #FFFFBD;
}

#notification_box.notice * {
  color: black;
}

#notification_box.notice #notification_icon {
  background: transparent url('/css/local/images/flash_notice_34.png') no-repeat scroll top left;
}

#notification_box.success {
  border: 1px solid #217808;
  background-color: #8FCF06;
}

#notification_box.success * {
  color: #f9f9f9;
}

#notification_box.success #notification_icon {
  background: transparent url('/css/local/images/flash_success_34.png') no-repeat scroll top left;
}

