<h1>Listing messages for Message Type: <%=  %></h1>

<table class="ruler">

<% for message in @messages %>
<tr id="msgtr">
<td><%= link_to message.id, message %></td>
<td><%=h message.sender %></td>
<td><%=h message.subject %></td>
</tr>
<% end %>
<% end %>
</table>

<br />

