body {
  color: black; background-color: white;
  font-size: 100.01%;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0; 
  padding: 3px;
}

#navcontainer
{
  background-image: url(images/hermes_toplogo2.png);
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  height: 86px;
}

#navcontainer ul
{
  padding: 52px 0px 12px 170px;
  border-bottom: 1px dotted;


list-style-type: none;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}


div#Inhalt {
  margin-left: 1em;
  margin-top: 2em;
  padding: 0em 0em 0em 0em;
  /* border: 1px dashed silver; */
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}

div#Inhalt h1 {
  font-size: 1.5em;
  margin: 0 0 5px;
}

div#Inhalt h3 {
  font-size: 1.2em;
  margin: 5pt 0pt 0pt;
}

div#Inhalt h2 {
  font-size: 1.2em;
  margin: 10pt 0pt 0pt;
}

div#Inhalt p {
  font-size:1em;
  margin: 4px 0;
}

div#Inhalt p.infotext {
  margin-top: 1px;
  padding-left: 12px;
  font-size: small;
  color: #6c6981;
}

p#top {
  border-bottom: 1px dashed #8c0000;
  text-align: right;
  font-size: small;
}

div#box {
  border: 1px dashed silver;
  padding: 3px;
}

table {
  font-size:small;
}

td {
  padding-right: 15px;
}
